.contact-container {
    background-image: url('src/images/DarkBlueGold.png');
    background-size: 874px;
    min-height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 70px 20px rgb(0, 0, 0);
}