.contact-container {
    background-image: url('/images/DarkBlueGold.png');
    background-size: 874px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 70px 20px rgb(0, 0, 0);
    font-size: 50px;
    cursor: default;

    .contact-frame {
        position: relative;
        margin-bottom: 4rem;
        padding: 2rem 2.5rem 2rem 2.5rem;
        border-top: solid 14px #c69781;
        border-right: solid 14px #aa6442;
        border-bottom: solid 14px #934c29;
        border-left: solid 14px #aa6442;
        background-image: repeating-linear-gradient(to right, #8d4623, #9c5230 10%);
        .contact-content {
            background: linear-gradient(rgb(68, 64, 64), rgb(0, 0, 0)) padding-box,
            linear-gradient(to bottom, var(--lightgold), var(--darkgold), var(--lightgold), var(--darkgold)) border-box;
            border: solid 12px transparent;
            padding: 0 2rem 0 2rem;
            z-index: 2;

            #phone-container {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.3);
                text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
                transition: 0.2s;
            }
            #phone-container:hover {
                background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
                    background-size: 150;
                    -webkit-background-size: 150px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    animation-name: shine;
                    -webkit-animation-name: shine;
                    animation-duration: 3s;
                    -webkit-animation-duration: 3s;
                    animation-fill-mode: forwards;
            }
            div {
                display: flex;
                align-items: center;
                margin: 10px;
                padding: 0 10px 0 10px;
                color: rgb(187, 187, 187);
                transition: 0.2s;
                img {
                    height: 50px;
                    margin: 1rem;
                    opacity: 0.8;
                }
    
                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.3);
                    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
                }
            }
            div:hover {
                transform: scale(1.06);
                box-shadow: 5px 5px 10px 0 black;
                border-radius: 15px;
                img {
                    opacity: 0.9;
                }
                a {
                    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
                    background-size: 150;
                    -webkit-background-size: 150px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    animation-name: shine;
                    -webkit-animation-name: shine;
                    animation-duration: 3s;
                    -webkit-animation-duration: 3s;
                    animation-fill-mode: forwards;
                    
                }
            }
        }
    }
}

@keyframes shine {
	0% {
		background-position: -200px;
	}
	100% {
		background-position: 500px;
	}
}
//Media Queries for Screen Sizes
//320 x 640
// @media (max-width: 320px) {
//     .contact-container {
//         background-size: 520px;
//         .contact-frame {
//             padding: 0.5rem 0.5rem 0.5rem 0.5rem;
//             border-top: solid 10px #c69781;
//             border-right: solid 10px #aa6442;
//             border-bottom: solid 10px #934c29;
//             border-left: solid 10px #aa6442;
//             .contact-content {
//                 padding: 0px;
//                 font-size: 16px;
//                 div {
//                     margin: 0 ;
//                     img {
//                         margin: 10px;
//                         height: 23px;
//                     }
//                 }
//             }
//         } 
//     }
// }

@media (max-width: 375px) {
    .contact-container {
        background-size: 520px;
        // align-items: normal
        .contact-frame {
            // margin-top: calc(12vh - 3rem);
            height: 265px;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            border-top: solid 10px #c69781;
            border-right: solid 10px #aa6442;
            border-bottom: solid 10px #934c29;
            border-left: solid 10px #aa6442;
            .contact-content {
                padding: 0px;
                font-size: 18px;
                div {
                    margin: 0;
                    margin-bottom: 15px;
                    img {
                        margin: 10px;
                        height: 25px;
                    }
                }
            }
        } 
    }
}




@media (max-width: 425px) {
    .contact-container {
        background-size: 520px;
        .contact-frame {
            height: 275px;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            border-top: solid 10px #c69781;
            border-right: solid 10px #aa6442;
            border-bottom: solid 10px #934c29;
            border-left: solid 10px #aa6442;
            .contact-content {
                padding: 0px;
                font-size: 22px;
                div {
                    margin: 0;
                    margin-bottom: 15px;
                    img {
                        margin: 10px;
                        height: 28px;
                    }
                }
            }
        } 
    }
}