.elevator-top {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;
    background: linear-gradient(45deg, rgb(117, 117, 117), rgb(214, 214, 214));
    border-bottom: solid 2px rgba(0, 0, 0, 0.267);
    box-shadow: 0 0 15px 20px rgba(66, 66, 66, 0.486);
    .dial-container {
        position: relative;
        color: #fff;
        width: 400px;
        .elevator-dial {
            margin: 5px;
            max-height: 160px;
            transition: 0.2s;
            
        }
        .dial-arrow {
            position: absolute;
            right: 187.2px;
            top: 9.1%;
            max-height: 135px;
            z-index: 2;
            transition: 1s;
            transition-delay: 0.8s;
        }
        #floor-one {
            transform: rotate(-85deg);
            transform-origin: 50% 90%;
        }
        #floor-two {
            transform: rotate(-37deg);
            transform-origin: 50% 90%;
        }
        #floor-three {
            transform: rotate(37deg);
            transform-origin: 50% 90%;
        }
        #floor-four {
            transform: rotate(85deg);
            transform-origin: 50% 90%;
        }
        .floor-number {
            font-size: 30px;
            font-weight: bold;
        }
        #number-one {
            position: absolute;
            left: 16.5%;
            top: 63%;
            transform: rotate(-85deg);
        }
        #number-two {
            position: absolute;
            right: 65%;
            top: 15%;
            transform: rotate(-32deg);
        }
        #number-three {
            position: absolute;
            right: 30%;
            top: 16%;
            transform: rotate(34deg);
        }
        #number-four {
            position: absolute;
            right: 16.5%;
            top: 65%;
            transform: rotate(85deg);
        }
        .active {
            color: rgb(231, 214, 127);
            text-shadow: 0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(229, 255, 0),
            0 0 82px rgb(229, 255, 0),
            0 0 92px rgb(229, 255, 0),
            0 0 102px rgb(229, 255, 0),
            0 0 151px rgb(229, 255, 0);
        }
    }
}

// @media (max-height: 900px) {
//     .elevator-top {
//         .dial-container {
//             .elevator-dial {
//                 max-height: 150px;
//             } 
//         }
//     }
// }


.elevator-middle-container {
    display: flex;
    justify-content: space-between;
    .elevator-panel {
        width: 15%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        z-index: 2;
        
        .button-container {
            margin: 5px;
            padding: 8px;
            border: solid 2px rgba(0, 0, 0, 0.075);
            cursor: default;
            .button-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                padding: 10px;
                border: solid 2px rgba(0, 0, 0, 0.075);
                border-radius: 10px;
                box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.37);
                
                .button-inner-content {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                    width: 145px;
                    border: solid 2px silver;
                    background: rgb(26, 26, 26);
                    border-radius: 30px;
                    .button-text {
                        margin: 5px;
                        width: 80px;
                        text-align: center;
                        color: silver;
                        h2, h3 {
                            margin: 0;
                        }
                    }
                }
                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    border: solid 2px rgba(0, 0, 0, 0.767);
                    outline: 2px solid rgb(255, 255, 255);
                    background-image: -webkit-radial-gradient(  100%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
                    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
                    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
                    transition: 0.05s;
                    cursor: pointer;
                }

                .button:active {
                    border: solid 2px rgba(255, 255, 0, 0.418);
                    box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.623);
                }
            }
        }
    }
    #left-panel {
        box-shadow: 0 10px 10px 0 black;
        border-radius: 0 5px 5px 0;
        background: linear-gradient(45deg, grey, silver, grey, silver);
    }
    #right-panel {
        display: flex;
        align-items: center;
        border-radius: 5px 0 0 5px;
        background: linear-gradient(85deg, grey, silver, grey, silver);
    }
    
}

.center-container {
    position: relative;
    background-color: black;
    min-height: 80vh;
    width: 80%;
    
    .center-floor {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 50px;
    }
    .door-container {
        display: flex;
        height: 100%;
        .door {
            z-index: 1;
            height: inherit;
            width: 50%;
            background: linear-gradient(silver, grey, silver, darkgrey, silver, grey);
            transition: 0.6s;
        }
        #left-door {
            border-right: solid 2px rgb(0, 0, 0);
            box-shadow:  inset 15px 10px 25px 1px rgba(50, 50, 50, 0.75);
        }
        #right-door {
            border-left: solid 2px rgb(0, 0, 0);
            box-shadow:  inset -15px 10px 25px 1px rgba(50, 50, 50, 0.75);
        }
        #open-left {
            transform: translateX(-95%);
            box-shadow:  inset 15px 7px 10px 1px rgba(50, 50, 50, 0.75);
        }
        #open-right {
            transform: translateX(95%);
            box-shadow:  inset -15px 10px 25px 1px rgba(50, 50, 50, 0.75);
        }
    }
}

//Media Queries for Screen Sizes
//320 x 640
// @media (max-width: 320px) {
//     .elevator-top {
//         .dial-container {
//             position: relative;
//             color: #fff;
//             width: 400px;
//             .elevator-dial {
//                 margin: 5px;
//                 max-height: 100px;
//                 transition: 0.2s;    
//             }
//             .dial-arrow {
//                 position: absolute;
//                 right: 153px;
//                 top: 13%;
//                 max-height: 80px;
//                 z-index: 2;
//                 transition: 1s;
//                 transition-delay: 0.8s;
//             }
//             #floor-one {
//                 transform: rotate(-87deg);
//                 transform-origin: 50% 90%;
//             }
//             #floor-two {
//                 transform: rotate(-35deg);
//                 transform-origin: 50% 90%;
//             }
//             #floor-three {
//                 transform: rotate(35deg);
//                 transform-origin: 50% 90%;
//             }
//             #floor-four {
//                 transform: rotate(88deg);
//                 transform-origin: 50% 90%;
//             }
//             .floor-number {
//                 font-size: 20px;
//                 font-weight: bold;
//             }
//             #number-one {
//                 position: absolute;
//                 left: 23.8%;
//                 top: 63%;
//                 transform: rotate(-85deg);
//             }
//             #number-two {
//                 position: absolute;
//                 right: 61%;
//                 top: 14.5%;
//                 transform: rotate(-35deg);
//             }
//             #number-three {
//                 position: absolute;
//                 left: 55%;
//                 top: 14.6%;
//                 transform: rotate(35deg);
//             }
//             #number-four {
//                 position: absolute;
//                 right: 24%;
//                 top: 63%;
//                 transform: rotate(85deg);
//             }
//         }
//     }

//     .elevator-middle-container {
//         .elevator-panel { 
//             .button-container {
//                 border: none;
//                 .button-content {
//                     padding: 5px;
//                     .button-inner-content {
//                         display: block;
//                         text-align: center;
//                         width: fit-content;
//                         .button-text {
//                             font-size: 12px;
//                             width: 0px;
//                             margin-left: 6px;
//                             h3 {
//                                 display: none;
//                             }
//                         }
//                         .button {
//                             width: 20px;
//                             height: 20px;
//                             margin-right: 0px;
//                         }
//                     }
//                 }
//             }
//         } 
//     }
// }

@media (max-width: 768px) {
    .elevator-middle-container {
        .elevator-panel { 
            .button-container {
                transform: translateY(-50px);
                border: none;
                .button-content {
                    margin: 0px;
                    padding: 0px;
                    width: 98%;
                    .button-inner-content {
                        width: 105px;
                        justify-content: normal;
                        padding: 0px;
                        margin: 5px 0 5px 0;
                        .button-text {
                            font-size: 12px;
                            margin: 0px;
                        }
                        .button {
                            height: 28px;
                            width: 30px;
                        }
                    }
                }
            }
        } 
    }
}


@media (max-width: 425px) {
    .elevator-top {
        .dial-container {
            position: relative;
            color: #fff;
            width: 400px;
            .elevator-dial {
                margin: 5px;
                max-height: 120px;
                transition: 0.2s;    
            }
            .dial-arrow {
                position: absolute;
                right: 191px;
                top: 10.5%;
                max-height: 100px;
                z-index: 2;
                transition: 1s;
                transition-delay: 0.8s;
            }
            #floor-one {
                transform: rotate(-86deg);
                transform-origin: 50% 90%;
            }
            #floor-two {
                transform: rotate(-39deg);
                transform-origin: 50% 90%;
            }
            #floor-three {
                transform: rotate(37deg);
                transform-origin: 50% 90%;
            }
            #floor-four {
                transform: rotate(87.5deg);
                transform-origin: 50% 90%;
            }
            .floor-number {
                font-size: 26px;
                font-weight: bold;
            }
            #number-one {
                position: absolute;
                left: 24.4%;
                top: 62%;
                transform: rotate(-83deg);
            }
            #number-two {
                position: absolute;
                right: 62%;
                top: 15.3%;
                transform: rotate(-35.5deg);
            }
            #number-three {
                position: absolute;
                left: 56%;
                top: 15%;
                transform: rotate(35deg);
            }
            #number-four {
                position: absolute;
                right: 24.5%;
                top: 62%;
                transform: rotate(85deg);
            }
        }
    }

    .elevator-middle-container {
        .elevator-panel { 
            .button-container {
                border: none;
                transform: translateY(-60px);
                .button-content {
                    padding: 5px;
                    width: fit-content;
                    .button-inner-content {
                        display: block;
                        text-align: center;
                        width: fit-content;
                        padding: 5px;
                        .button-text {
                            font-size: 12px;
                            width: 0px;
                            margin-left: 7px;
                            h3 {
                                display: none;
                            }
                        }
                        .button {
                            width: 22px;
                            height: 22px;
                            margin-right: 0px;
                        }
                    }
                }
            }
        } 
    }
}

@media (max-width: 375px) {
    .elevator-top {
        .dial-container {
            position: relative;
            color: #fff;
            width: 400px;
            .elevator-dial {
                margin: 5px;
                max-height: 90px;
                transition: 0.2s;    
            }
            .dial-arrow {
                position: absolute;
                right: 181px;
                top: 12%;
                max-height: 75px;
                z-index: 2;
                transition: 1s;
                transition-delay: 0.8s;
            }
            #floor-one {
                transform: rotate(-86deg);
                transform-origin: 50% 90%;
            }
            #floor-two {
                transform: rotate(-37deg);
                transform-origin: 50% 90%;
            }
            #floor-three {
                transform: rotate(37deg);
                transform-origin: 50% 90%;
            }
            #floor-four {
                transform: rotate(87.5deg);
                transform-origin: 50% 90%;
            }
            .floor-number {
                font-size: 20px;
                font-weight: bold;
            }
            #number-one {
                position: absolute;
                left: 29.2%;
                top: 62%;
                transform: rotate(-83deg);
            }
            #number-two {
                position: absolute;
                right: 59%;
                top: 14%;
                transform: rotate(-35deg);
            }
            #number-three {
                position: absolute;
                left: 51.5%;
                top: 15%;
                transform: rotate(35deg);
            }
            #number-four {
                position: absolute;
                right: 29.5%;
                top: 62%;
                transform: rotate(85deg);
            }
        }
    }

    .elevator-middle-container {
        .elevator-panel { 
            .button-container {
                border: none;
                .button-content {
                    padding: 5px;
                    transform: translateY(-50px);
                    .button-inner-content {
                        display: block;
                        text-align: center;
                        width: fit-content;
                        .button-text {
                            font-size: 12px;
                            width: 0px;
                            margin-left: 7px;
                            h3 {
                                display: none;
                            }
                        }
                        .button {
                            width: 22px;
                            height: 22px;
                            margin-right: 0px;
                        }
                    }
                }
            }
        } 
    }
}






