.elevator-top {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    background: linear-gradient(45deg, rgb(117, 117, 117), rgb(214, 214, 214));
    border-bottom: solid 2px rgba(0, 0, 0, 0.267);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.466);
    .dial-container {
        position: relative;
        color: #fff;
        width: 400px;
        .elevator-dial {
            margin: 5px;
            max-height: 180px;
        }
        .dial-arrow {
            position: absolute;
            right: 187.2px;
            top: 12%;
            max-height: 145px;
            z-index: 2;
            transition: 2s;
        }
        #floor-one {
            transform: rotate(-85deg);
            transform-origin: 50% 90%;
        }
        #floor-two {
            transform: rotate(0deg);
            transform-origin: 50% 90%;
        }
        #floor-three {
            transform: rotate(85deg);
            transform-origin: 50% 90%;
        }
        .floor-number {
            font-size: 30px;
            font-weight: bold;
        }
        #number-one {
            position: absolute;
            left: 13%;
            top: 65%;
        }
        #number-two {
            position: absolute;
            right: 192px;
            top: 5%;
        }
        #number-three {
            position: absolute;
            right: 13%;
            top: 65%;
        }
    }
}


.elevator-middle-container {
    display: flex;
    justify-content: space-between;
    .elevator-panel {
        border-right: solid 2px black;
        border-left: solid 2px black;
        width: 25%;
        min-height: 90vh;
        
        .button-container {
            border: solid 2px black;
            margin: 5px;

            .button-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5px;
                border: solid 2px black;
                
                .button {
                    text-align: center;
                    height: 50px;
                    width: 50px;
                    border: solid 1px black;
                    border-radius: 50%;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    #right-panel {
        display: flex;
        align-items: center;
    }
    
}