.elevator-top {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    background: linear-gradient(45deg, rgb(117, 117, 117), rgb(214, 214, 214));
    border-bottom: solid 2px rgba(0, 0, 0, 0.267);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.466);
    .dial-container {
        position: relative;
        color: #fff;
        width: 400px;
        .elevator-dial {
            margin: 5px;
            max-height: 180px;
        }
        .dial-arrow {
            position: absolute;
            right: 187.2px;
            top: 12%;
            max-height: 145px;
            z-index: 2;
            transition: 2s;
        }
        #floor-one {
            transform: rotate(-85deg);
            transform-origin: 50% 90%;
        }
        #floor-two {
            transform: rotate(-34deg);
            transform-origin: 50% 90%;
        }
        #floor-three {
            transform: rotate(34deg);
            transform-origin: 50% 90%;
        }
        #floor-four {
            transform: rotate(85deg);
            transform-origin: 50% 90%;
        }
        .floor-number {
            font-size: 30px;
            font-weight: bold;
        }
        #number-one {
            position: absolute;
            left: 11.5%;
            top: 65%;
        }
        #number-two {
            position: absolute;
            right: 65%;
            top: 15%;
            transform: rotate(-29deg);
        }
        #number-three {
            position: absolute;
            right: 30%;
            top: 15%;
            transform: rotate(29deg);
        }
        #number-four {
            position: absolute;
            right: 13%;
            top: 65%;

        }
        .active {
            color: yellow;
        }
    }
}


.elevator-middle-container {
    display: flex;
    justify-content: space-between;
    .elevator-panel {
        width: 18%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        z-index: 2;
        
        .button-container {
            border: solid 2px rgba(0, 0, 0, 0.075);
            margin: 5px;
            padding: 8px;

            .button-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                padding: 10px;
                border: solid 2px rgba(0, 0, 0, 0.075);
                border-radius: 10px;
                box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.37);
                
                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 45px;
                    width: 90px;
                    border-radius: 15px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border: solid 2px rgba(255, 255, 255, 0.767);
                    outline: 2px solid black;
                    background: linear-gradient(60deg, grey, silver, grey, silver);
                    font-size: 22px;
                    cursor: pointer;
                }

                .button:active {
                    border: solid 2px rgba(255, 255, 0, 0.418);
                    box-shadow: inset 2px 2px 8px 0 rgba(0, 0, 0, 0.623);
                    font-size: 20px;
                }
            }
        }
    }
    #left-panel {
        background: linear-gradient(45deg, grey, silver, grey, silver);
    }
    #right-panel {
        background: linear-gradient(85deg, grey, silver, grey, silver);
        display: flex;
        align-items: center;
    }
    
}

// .elevator-panel {
//     display: flex;
//     justify-content: center;
//     z-index: 2;
// }

.main-container {
    position: relative;
    background-color: black;
    min-height: 90vh;
    width: 80%;
    
    .main-floor {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: inherit;
        color: #fff;
        font-size: 50px;
    }
    .door-container {
        display: flex;
        height: 100%;
        .door {
            height: inherit;
            width: 50%;
            background-color: rgb(80, 80, 80);
            z-index: 1;
            transition: 0.5s;
        }
        #left-door {
            border-right: solid 2px silver;
        }
        #right-door {
            border-left: solid 2px silver;
        }
        #open-left {
            transform: translateX(-95%);
        }
        #open-right {
            transform: translateX(95%);
            
        }
    }
}

