.main-container {
    background-image: url('/images/BlackGold.jpg');
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 70px 20px rgb(0, 0, 0);
    cursor: default;
    .main-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 65%;
        margin-bottom: 5rem;
        padding: 3rem 2.5rem 3rem 2.5rem;
        border-top: solid 14px #c5c5c5;
        border-right: solid 14px #a5a5a5;
        border-bottom: solid 14px #8b8b8b;
        border-left: solid 14px #6b6b6b;
        background: linear-gradient(30deg, rgb(114, 114, 114), silver, grey, rgb(114,114,114));
        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            // width: 60%;
            background: linear-gradient(rgb(34, 34, 34), rgb(0, 0, 0)) padding-box,
            linear-gradient(to bottom, var(--lightgold), var(--darkgold), var(--lightgold), var(--darkgold)) border-box;
            border-radius: 15px;
            border: 12px solid transparent;
            h2 {
                margin: 2rem;
                font-size: clamp(11px, 6vh, 60px);
            }
            .sub-content {
                display: flex;
                margin-bottom: 2rem;
                border-bottom: solid 2px white;
                p {
                    font-size: clamp(11px, 3vh, 25px);
                    margin: 0 2rem 0 2rem;
                }
            }
            .skills-column {
                display: flex;
                justify-content: space-evenly;
                width: 60%;
                flex-wrap: wrap;
                // gap: 3rem;
                .skill-icon-container {
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    margin: 1rem;
                    transition: 0.2s;
                    
                    .skill-icon-image {
                        // height: clamp(10px, 6vh, 50px);
                        height: 50px;
                    }
                    @media (max-height: 900px) {
                        .skill-icon-image {
                            height: 40px;
                        }
                    }
                    @media (max-height: 800px) {
                        .skill-icon-image {
                            height: 30px;
                        }
                    }
                    .hover-text {
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.404);
                        border-radius: 10px;
                        padding: 10px;
                        width: fit-content;
                        color: #fff;
                        text-align: center;
                        font-size: 18px;
                        transform: translateY(45px);
                    }
                }
                .skill-icon-container:hover {
                    transform: scale(1.1);
                    border-radius: 10px;
                    z-index: 2;
                }
            }
            .resume-container {
                text-align: center;
                margin: 1.5rem;
                padding: 6px;
                height: 22px;
                width: 110px;
                border-top: solid 2px silver;
                border-right: solid 2px rgb(139, 139, 139);
                border-bottom: solid 2px rgb(29, 29, 29);
                border-left: solid 2px rgb(29, 29, 29);
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 22px;
                }
                button {
                    color: white;
                    background: black;
                }
                img {
                    height: 18px;
                }
                @media (max-height: 900px) {
                    a {
                        font-size: 20px;
                    }
                    img {
                        height: 16px;
                    }
                }
                @media (max-height: 800px) {
                    a {
                        font-size: 18px;
                    }
                    img {
                        height: 14px;
                    }
                }
            }
            .resume-container:active {
                border-top: solid 2px rgb(29, 29, 29);
                border-right: solid 2px rgb(29, 29, 29);
                border-bottom: solid 2px silver;
                border-left: solid 2px grey;
                a {
                    font-size: 20px;
                }
            }
        }
    }
}

