.portfolio-container {
    background-image: url('src/images/DarkGold.png');
    background-size: 800px;
    min-height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.carousel {
    overflow: hidden;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inner-items {
        white-space: nowrap;
        transition: transform 0.3s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.075);

        .project-item {
            display: inline-flex;
            flex-direction: column;
            
            align-items: center;
            height: 650px;
            // background-color: #000000;

            .project-cotent {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                font-size: 20px;
                border-top: solid 14px #c69781;
                border-right: solid 14px #aa6442;
                border-bottom: solid 14px #934c29;
                border-left: solid 14px #aa6442;
                background: linear-gradient(to bottom, var(--lightgold), var(--darkgold), var(--lightgold), var(--darkgold));

                img {
                    height: 350px;
                    border: solid 4px black;
                    margin-bottom: 1rem;
                }
                .project-text {
                    max-width: 600px;
                    word-wrap: break-word;
                    text-align: center;
                    color: black;
                    font-weight: bold;
                    background: linear-gradient(60deg,rgb(158, 158, 158) 30%, grey 70%, rgb(148, 148, 148), grey, rgb(66, 66, 66));
                    border-top: solid 6px #c5c5c5;
                    border-right: solid 6px #a5a5a5;
                    border-bottom: solid 6px #8b8b8b;
                    border-left: solid 6px #6b6b6b;
                }
            }
        }
    }
}